doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js")

        link(rel="stylesheet" href="/css/index.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")

        //- script(src="/js/mouse.js")
        script(src="/js/grid.js")
        script(src="/js/ascii.js")

        block head
    
    body
        block body
